@import './variables.css';
@import './reset.css';
@import './base.css';
@import './layout.css';
@import './animations.css';
@import './buttons.css';
@import './navbar.css';
@import './hero.css';
@import './about.css';
@import './services.css';
@import './testimonials.css';
@import './clients.css';
@import './contact.css';
@import './footer.css';
@import './modal.css';
@import './toast.css';
@import './service-page.css';
@import './cookie-consent.css';
